<% content_for :mid do %>
	<div class="middle">
		<h2><%= @event.name %></h2>
		<p>Event creator: <%= link_to "#{@user.name}", user_path(@user) %> </p>
		<% if !current_user.already_attending?(@event) %>
			<%= button_to 'Attend?', {:controller => 'invites', :action => 'create',                        :id => @event.id } %>
		<% else %>
			<%= button_to 'Unattend?', unattend_path(:id => @event.id), :method => :delete %>
		<% end %>
	</div>
<% end %>

<% content_for :right do %>
	<div class="right">
		
	<h2>Users Attending</h2>

		<ul>
			<% @attendees.each do |f| %>
				<li><%= link_to "#{f.name}", user_path(f) %></li>
			<% end %>
		</ul>
		
</div>
<% end %>